@import '../../../assets/css/base.scss';

.form_sec {
    label {
        font-size: $f14;
        margin-bottom: 5px;
    }
}

.card-footer {
    background: $white-color;
}

.errors{
    font-size: 13px;
    color:red;
}
.map{
    height: 60px;
    width: 60px;
    cursor: pointer;
}
