// _variable.scss

$white-color: #fff;
$black-color: #000000;

$primary-color: #9DBF2B;
$secondary-color: #06651B; 
$dark-green-color: #024638;
$base-color: #050506;

$purple-color: #4E398F;

$dark-grey-color:#8E8C8A;
$grey-color:#BFB8AF;
$grey-color1: #FEEDED;
$grey-color2: #CFCFCF;
$grey-color3: #F4F4F4;
$grey-color4: #e1e1e1;

$red-color: #ff0000;
$transparent: transparent;

$none: none;
$block: block;
$inline: inline;
$inline-block: inline-block;

$table: table;
$fixed: fixed;
$static: static;
$absolute: absolute;
$relative: relative;

$pointer: pointer;

$auto: auto;
$scroll: scroll;
$hidden: hidden;
$visible: visible;
$inherit: inherit;
$unset: unset;

$top: top;
$left: left;
$center: center;
$right: right;
$space-between: space-between;